*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --background-color: #f3fbfb;
    --accent-color: #d7bb25;
    --text-color: #272343;
    --box-color: #bae8e8;
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    line-height: 1.5em;
}

.container {
    width: min(390px, 95%);
}

.title_opening {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 900;
}

h1 {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 30px;
    line-height: 1em;
}

.title > p {
    margin-top: 0.3em;
    font-size: 18px;
}

.password {
    margin: 25px 0;
}

.password_text {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.password_text > label, #password_length {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

#generate_pass {
    width: 100%;
    padding: 12px 0;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
}

#password_length {
    border: none;
    font-family: inherit;
    background-color: transparent;
    border-bottom: 2px solid var(--box-color);
    text-align: center;
}

#password_length:focus {
    outline: none;
}

#password_length::-webkit-outer-spin-button,
#password_length::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

hr {
    margin: 30px 0;
    border-top: 2px solid var(--box-color);
}

.password_row {
    display: flex;
    gap: 1.5em;
}

.password_row > p {
    width: 60%;
    background-color: var(--box-color);
    text-align: center;
    padding-block: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
}

.password_row > button {
    flex-grow: 1;
    border: 2px solid var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.password_row > button:hover {
    box-shadow: 3px 3px 0 0 var(--accent-color);
}

.password_row + .password_row {
    margin-top: 1em;
}

.error_field {
    margin: 3em 0;
    text-align: center;
    font-weight: 800;
    color: red;
}

.footer {
    display: flex;
    align-items: baseline;
    margin-top: 3em;
    margin-bottom: 1em;
    gap: 1em;
    color: #D1E0E0;
}

.footer a {
    color: inherit;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

.footer span {
    color: var(--accent-color);
}

.hide {
    display: none;
}